= form_tag search_path, method: :get do
  = autocomplete_field_tag 'q', '', autocomplete_book_searchable_terms_books_path, :size => 75
  = submit_tag "Go!", name: nil


%ul
  = @books.count
  - @books.each do |book|
    %li
      %h5
        = link_to (book.try(:highlight).try(:searchable_terms) ? book.highlight.searchable_terms[0].html_safe : book.searchable_terms), controller: "books", action: "show", id: book.slug