
- if @like.new_record?
  = simple_form_for @like, remote: true do |f|
    = f.input :book_id, as: :hidden
    = f.submit "Love it!"
- else
  = simple_form_for @like, method: :delete, remote: true do |f|
    = f.submit "Unlove it!"
