= simple_form_for(@book) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :list_of_tags, label: "Tags separated by commas"
    = f.association :author

  .form-actions
    = f.button :submit
