%p
  %b Title
  = @book.title

  %b Tags
  - @book.tags.each do |tag|
    = tag.name

%h3 Related books!
- @related_books.each do |book|
  = book.title

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path

- if user_signed_in?
  = simple_form_for([@book, @new_review]) do |f|
    = f.input :title
    = f.input :content
    = f.input :rating
    = f.input :book_id, as: :hidden
    = f.submit